/* ocupa toda a tela e ativa snap */
html, body {
  height:100%;
  margin:0; padding:0;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

/* cada seção fullscreen e alinhada ao topo */
section.snap {
  height:100vh;
  scroll-snap-align: start;
  display:flex;
  align-items:center;
  justify-content:center;
  position: relative;
  background: #111; /* placeholder */
  color: #fff;
}
